@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #ffffff;
    color: #000;
    /*--color-secondary-bg-for-transparent: rgba(209, 209, 214, 0.28);*/
}

html[data-theme='dark'] {
    background-color: #222222;
    color: #ffffff;
    /*--color-primary-bg-for-transparent: rgba(255, 255, 255, 0.12);*/
}

li {
    list-style-type: none;
}

/* 顶部导航栏所需  */
.topBar {
    background: url(@/assets/png/topbar.png) no-repeat 0 9999px;
}

/* 携带 active 类名（选中） 样式*/
.topNav > .active {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

/* 选中小红箭头 */
.active > .icon {
    background-position: -226px 0;
}

/* 底部 icon */
.footIcon {
    background: url(@/assets/png/footer.png) no-repeat;
    background-size: 220px 220px;
}

.footItem:first-child {
    margin-left: 0 !important;
}

.footItem li:nth-child(1) > a {
    background-position: -170px -5px;
}

.footItem li:nth-child(2) > a {
    background-position: -5px -170px;
}

.footItem li:nth-child(3) > a {
    background-position: -5px -60px;
}

.footItem li:nth-child(4) > a {
    background: url(@/assets/png/xStudio.png);
    background-size: 45px;
}

.footItem li:nth-child(5) > a {
    background-position: -60px -60px;
}

.footItem li:nth-child(6) > a {
    background-position: -115px -115px;
}

.footItem li:nth-child(7) > a {
    background: url(@/assets/png/cloudSong.png);
    background-size: 45px;
}

.footItem li:nth-child(8) > a {
    background-position: -170px -115px;
}

/* discover 页 SubNav 所需 */
.SubNavItem > .active {
    background-color: #9b0909;
    border-radius: 20px;
}

/* discover 页 swiper  */
.bannerItem {
    background: url(@/assets/png/banner.png) no-repeat 0 9999px;
}

.bannerLi > .active {
    background-position: -16px -343px;
}

.bannerLi > .noactive {
    background-position: 3px -343px;
}

/* discover 页 download  */
.discoverDownload {
    background: url(@/assets/png/download.png) no-repeat 0 0;
}

/* discover 页 左右切换按钮 */
.discoverBtn {
    background-image: url(@/assets/png/banner.png);
}

/*
    1. MusicListHeader 左侧所需 红点 Btn
    2. MusicListHeader 右侧所需 更多 icon
*/
.decorateBtn {
    background: url(@/assets/png/decorateBtn.png) no-repeat 0 9999px;
}

/* MusicListItem 卡片 cover icons */
.coverAll {
    background: url(@/assets/png/coverall.png) no-repeat;
}

/* MusicListItem 卡片所需 icons */
.iconAll {
    background: url(@/assets/png/iconall.png) no-repeat;
}
